body {
	background:#444;
	margin:0;
	padding:0;
	color:#fff;
	font-family:arial;
}

h1 {
	font-family:georgia;
}

.container {
	width:800px;
	margin:50px auto;
}

.dropzone {
	text-align:center;
	background:#999;
	border:1px solid #fff;
	-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	padding:10px;
	margin-bottom:20px;
}

fieldset {
	border:0;
	margin-bottom:15px;
}

ul {
	margin:0;
	padding:0;
	list-style:none;
}

fieldset li {
	display:inline;
}

#previewList li {
	text-align:center;
	margin-bottom:15px;
}

.over {
	background:green;
}


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

