
body {
  background:#444;
  margin:0;
  padding:0;
  color:#fff;
  font-family:arial;
}

h1 {
  font-family:"Reem";
}

.container {
  width:800px;
  margin:50px auto;
}

.dropzone {
  text-align:center;
  background:#999;
  border:1px solid #fff;
  -webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  padding:10px;
  margin-bottom:20px;
}

fieldset {
  border:0;
  margin-bottom:15px;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
}

fieldset li {
  display:inline;
}

#preview {
  text-align:center;
  margin-bottom:15px;
  position:relative;
}

.over {
  background:green;
}

canvas {
  position:relative;
  border:1px solid #000;
  cursor:move;
  overflow: auto
}

.active:active {
  cursor:move;
}

.crop-parent {
  position:relative;
  margin:0 auto;
}

.crop-parent.active .crop-ui {
  display:block;
}

.crop-ui {
  display:none;
  position:absolute;
  z-index:2;
  right:10px;
  width:20px;
  line-height:20px;
  background:rgba(0,0,0, .6);
  color:#fff;
  text-align:center;
  cursor:pointer;
  -webkit-user-select:  none;
  -khtml-user-select:   none;
  -moz-user-select:     none;
  -ms-user-select:      none;
  -o-user-select:       none;

  -webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
      -webkit-border-radius-top-left: 15px; /* pre-Safari 5, delete unused */
     -webkit-border-radius-top-right: 15px;

                  -moz-border-radius: 15px 15px 0 0;
                       border-radius: 15px 15px 0 0;

}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.croppy-text {
  text-align:left;
  overflow:hidden;
  margin:1em 0;
}

.croppy-text__left {
  float:left;
  width:70%;
}

.croppy-text__right {
  width:30%;
  padding:0 1em;
  box-sizing:border-box;
  float:right;
}

.croppy-text__label {
  display:block;
  margin-bottom:.5em;
}

.js-croppy-headline {
  height:110px;
  width:100%;
}

.croppy-text__control {
  /*border: 0;*/
  /*clip: rect(0 0 0 0);*/
  /*height: 1px;*/
  /*margin: -1px;*/
  /*overflow: hidden;*/
  /*padding: 0;*/
  /*position: absolute;*/
  /*width: 1px;*/
}

.croppy-text__btn {
  display:inline-block;
  width:1.5em;
  height:1.5em;
  border:1px solid #000;
  cursor:pointer;
}
