.rotate-wheel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
  transform-origin: center;
  transform-style: preserve-3D;
}

.preview:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
}
